<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Omini food Hero Section</title>
    <link rel="stylesheet" href="./index.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav class="container">
        <div>LOGO</div>
        <div>Navigation</div>
      </nav>
      <div class="header-container">
        <div class="header-container-inner">
          <h1>A healthy meal deliver to your door every single day</h1>
          <p>
            The smart 365-days-per-year food subscription that will make you eat
            healthy algian.Tailored to your personal tastes and nutritional
            needs
          </p>
          <a href="#" class="btn">Start Eating well</a>
        </div>
      </div>
    </header>
    <section>
      <div class="container">
        <h2>Some Random Heading</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, est.
          Odit odio dignissimos, neque, nulla rerum necessitatibus placeat,
          dolorum corporis molestias enim iure illum totam est voluptate ipsum
          tenetur praesentium vel ratione ullam. Doloremque, mollitia nobis
          sapiente amet, odit consequuntur laborum ipsam ab facilis sit commodi
          eveniet voluptates neque. Hic.
        </p>
      </div>
    </section>
  </body>
</html>
