* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  color: #343a40;
  font-size: 24px;
  height: 100vh;
  text-align: center;
  font-weight: bold;

  display: grid;
  grid-template-columns: 80px 300px 1fr 250px;
  grid-template-rows: 80px 1fr;
}
nav,
section,
aside,
main {
  padding: 24px;
}
nav {
  background-color: #343a40;
  grid-row: 1/-1;
  color: #fff;
}
menu {
  background-color: #7048e8;
  color: #fff;
  grid-column: 2/-1;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 40px;
}
aside {
  background-color: rgb(240, 233, 233);
}
section {
  background-color: rgb(240, 233, 233);
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  overflow: scroll;
}
button {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  background-color: lightblue;
  padding: 8px 12px;
  border-radius: 50%;
}
button:last-child {
  background-color: rgb(228, 65, 65);
  margin-left: auto;
}

.email {
  background-color: slategray;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
}
